<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Apply</title>
    {% load static %}
    <link href="{% static 'css/home/home.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>

           <div class="topnav">

      <button onclick style="float: right">
        <a href="/log-out">
          Log out
        </a>
      </button>
      <button onclick style="float: right">
        <a href="/user-profile">{{ request.session.user.User_name }}</a>
      </button>
      <button onclick>
        <a href="/home">
            Home
        </a>
      </button>
      <button>
        <a href="/cal">
          Calendar
        </a>
      </button>
      <button onclick>
        <a href="/important-files">
          Important Files 
        </a>
      </button>
      <button onclick>
        <a href="/process-of-applications">
          Process of Applications
        </a>
      </button>
    </div>

    <h1>Upload Your Important Files </h1>

    {% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>

{% endblock %}

  <div>
    <p>Your uploads:</p>
    <ul class="uploads">
    {% for x in uploads %}
    <li>
      <a href="{{x.document}}" download>{{x.document}}</a>
      <a href="delete/{{x.document}}"><button>X</button></a>
    </li>
    {% endfor %}
    </ul>
    <br>
    <div>
      
    </div>
  </div>

    
  </body>
</html>
