{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-with, initial-scale = 1.0">
        <title>Smart Apply</title>
        Process of Applications

        <link href="{% static 'css/home/processOfApp.css' %}" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="kanban">
{#        <div class="kanban_column">#}
{#            <div class = "kanban_column-title"> TO DO !</div>#}
{#            <div class = "kanban_items">#}
{#                <div contenteditable class = "kanban_item-input">Elan</div>#}
{#                <div class = "kanban_dropzone"></div>#}
{#            </div>#}
{#            <button class="kanban_add-item" type="button">+ Add</button>#}
{#        </div>#}
    </div>

    <script src = "{% static 'js/home/processOfApp.js' %}" type = "module"></script>

  </body>
</html>